# IDE 
.vscode
.vs

# User-specific files
obj/
packages/
bin/
App.config
Web.config

ExpiryNotifications/bin/Debug/ExpiryNotifications.exe
ExpiryNotifications/bin/Debug/ExpiryNotifications.pdb

bin/FETS.dll
bin/FETS.dll.config
bin/FETS.pdb
ExpiryNotifications/bin/Debug/ExpiryNotifications.exe
bin/FETS.dll
bin/FETS.dll.config
bin/FETS.pdb
